.HUD {
  position: relative;
  /* top: 20px; */
  top: -75px;
  left: 10px;
  z-index: 1000;
  -webkit-text-stroke: 1px black;
  color: white;
  font-weight: bold;
}

.coin-counter {
  width: 550px;
  text-align: left;
}

.coin-counter-icon {
  overflow: hidden;
  width: 30px;
  display: inline-block;
  margin: 0;
  top: 10px;
  position: relative;
}

.health-bar {
  overflow: hidden;
  width: 200px;
  height: 40px;
}

.health-bar img {
  width: 550px;
  position: relative;
  left: -44px;
}
