#environment-div {
  position: absolute;
  /* z-index: 0; */
}

#underground {
  position: absolute;
  left: 0px;
  z-index: 0;
  width: 8000px;
  background-repeat: repeat;
  background: white;
  background-image: url(./assets/tiles/Tile_24.png);
}
